<div class="container">
    <div class="content-projects">
        <ul class="list-utilidades">
            <li class="item-projects senha"><a href="{{ url_for('gerador_senha') }}">Gerador de Senha</a></li>
            <li class="item-projects citacao"><a href="{{ url_for('gerador_citacao') }}">Gerador de Citações</a></li>
            <li class="item-projects tradutor"><a href="{{ url_for('traduzir_texto') }}">Tradutor de Texto</a></li>
            <li class="item-projects moeda"><a href="{{ url_for('converte_moedas') }} ">Conversor de Moedas</a></li>
            <li class="item-projects">Conversor de Unidades</li>
            <li class="item-projects">Cotação Moeda</li>
            <li class="item-projects">Validador de CPF</li>
            <li class="item-projects">Organizador de Arquivo</li>
            <li class="item-projects">Contagem Regressiva</li>
            <li class="item-projects">Gerador de Gráficos</li>
            <li class="item-projects">Leitor XML/ Exportando Planilha</li>
        </ul>
        <ul class="jogos">
            <li class="item-projects jogo">Jogo da Memória</li>
            <li class="item-projects jogo">Jogo da Forca</li>
            <li class="item-projects jogo">Jogo da Velha</li>
            <li class="item-projects jogo">Jogo de Advinhação</li>
            <li class="item-projects jogo">Tetris</li>
        </ul>
    </div>
</div>