<div class="container">
    <div class="content-projects">
        <ul class="list-utilidades">
            <li class="item-projects senha"><a href="{{ url_for('gerador_senha') }}">Gerador de Senha</a></li>
            <li class="item-projects">Gerador de Citações</li>
            <li class="item-projects">Gerador de Gráficos</li>
            <li class="item-projects moeda">Conversor de Moedas</li>
            <li class="item-projects">Conversor de Unidades</li>
            <li class="item-projects">Cotação Moeda</li>
            <li class="item-projects">Validador de CPF</li>
            <li class="item-projects">Tradutor de Texto</li>
            <li class="item-projects">Organizador de Arquivo</li>
            <li class="item-projects">Contagem Regressiva</li>
        </ul>
        <ul class="jogos">
            <li class="item-projects jogo">Jogo da Memória</li>
            <li class="item-projects jogo">Jogo da Forca</li>
            <li class="item-projects jogo">Jogo da Velha</li>
            <li class="item-projects jogo">Jogo de Advinhação</li>
            <li class="item-projects jogo">Tetris</li>
        </ul>
    </div>
</div>