.container-tradutor {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.title-tradutor {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(45deg, #4b07eb, #2fb1c2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.description {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	padding: 20px 0px;
}

.form-tradutor {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	gap: 10px;
	margin: 0 auto;
}

.input-form-tradutor {
	font-size: 12px;
	padding: 5px;
	width: 500px;
	height: 500px;
	border-radius: 5px;
}

.group-btn {
	display: flex;
	flex-direction: column;
}

.btn-traduzir {
	background-color: rgba(10, 219, 20, 0.733);
	padding: 3px;
}

.btn-limpar {
	background-color: rgba(238, 69, 84, 0.733);
	padding: 3px;
}

textarea {
	resize: none;
}

textarea:valid {
	border: 2px solid rgb(24, 80, 201);
}

/* Estilização da Responsividade */

@media screen and (max-width: 1024px) {
	.input-form-tradutor {
		max-width: 450px;
	}
}

@media screen and (max-width: 768px) {
	.input-form-tradutor {
		max-width: 300px;
		max-height: 300px;
	}
}

@media screen and (max-width: 375px) {
	.group-btn {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
}

@media screen and (max-width: 339px) {
	.input-form-tradutor {
		max-width: 249px;
		max-height: 249px;
	}
}
