* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Alertas */
.alert {
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-success {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
	margin: 5px 20px;
	padding: 12px 20px;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	margin: 5px 20px;
	padding: 12px 20px;
}

.text-danger,
.invalid-feedback {
	padding-top: 2px;
	color: #ff4500;
	font-size: 13px;
}

.is-invalid {
	border-color: #e6051b;
	box-shadow: 0 0 0 2px #f5c6cb;
}

.content-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.list-utilidades,
.jogos {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	flex: 1 0 auto;
}

.item-projects {
	background-color: #d8e3ec;
	text-transform: uppercase;
	border-radius: 3px;
	min-width: 200px;
	font-size: 1.5rem;
	margin: 20px;
	padding: 30px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.item-projects:hover {
	transform: scale(1.03);
}

.senha {
	background-color: #6390f0;
	color: #fff;
}

.citacao {
	background-color: #e9dd37;
	color: #1e1e1e;
}

.tradutor {
	background-color: #ffcccb;
}

.moeda {
	background-color: #7ac74c;
	color: #fff;
}

.jogo {
	background-color: #ee8130;
}

/* Estilização Navbar */
header {
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
	background: linear-gradient(45deg, #e5ebe6, #1f1d1b);
}
.navbar-image {
	width: 50px;
	transition: transform 0.3s;
}

.navbar-image:hover {
	animation: rotate 5s linear infinite;
}

/* Defina a animação para girar a imagem */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.content-navbar {
	font-weight: bold;
	color: #fff;
}

.content-navbar:hover {
	transform: scale(1.03);
}

/* Estilização Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: #1e1e1e;
	border-top: 1px solid #721c24;
}

.autor {
	font-size: 1rem;
	font-weight: bold;
	color: #bd1e2e;
}

.autor:hover {
	filter: brightness(200%);
	transform: scale(1.06);
	cursor: pointer;
}

/* Estilização da responsividade */
@media screen and (max-width: 1249px) {
	.list-utilidades,
	.jogos {
		grid-template-columns: repeat(2, 3fr);
	}
}

@media screen and (max-width: 813px) {
	.list-utilidades,
	.jogos {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 440px) {
	.item-projects {
		font-size: 1rem;
		margin: 20px;
		padding: 25px;
	}
}
